<h2>WdiInsagram</h2>

<div data-ng-repeat="wdinstagram in vm.wdinstagrams">
  <p>{{wdinstagram.entries}}</p>
  <img data-ng-src="{{wdinstagram.photoUrl}}">
  <p>{{wdinstagram.author}}</p>
  <p>{{wdinstagram.body}}</p>
  <button data-ng-click="vm.delete(wdinstagram)"> Delete wdinstagram </button>

</div>

<h2>Create wdinstagram</h2>
<form data-ng-submit="vm.create()">
  <input placeholder="Entries" data-ng-model="vm.newwdinstagram.entries">
  <input placeholder="Photo" data-ng-model="vm.newwdinstagram.photoUrl">
  <input placeholder="Author" data-ng-model="vm.newwdinstagram.author">
  <input placeholder="Body" data-ng-model="vm.newwdinstagram.body">
  <button type="submit">Create wdinstagram</button>



</form>
